repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-yaml
        args: [--unsafe]
        exclude: |
          (
            custom_components/horticulture_assistant/blueprints/automation/.*\.yaml|
            .*blueprints/automation/.*\.yaml
          )
      - id: check-json
      - id: pretty-format-json
        files: ^custom_components/horticulture_assistant/data/.*\.json$
        args: ["--autofix", "--indent", "2", "--no-ensure-ascii", "--no-sort-keys"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
